.element__delete {
  width: 18px;
  height: 19px;
  background: transparent center no-repeat url(../../../images/Group.svg);
  object-fit: cover;
  border: none;
  position: absolute;
  margin-left: 249px;
  margin-top: 18px;
}

.element__delete:hover {
  cursor: pointer;
  opacity: 0.8;
}
