.profile__subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
  margin: 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

@media screen and (max-width: 70px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
