.element__like-container {
  width: 246px;
  /* height: 23px; */
  margin: 23px auto 26px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
